.container{
  margin: 0;
  padding: 0;
  width: 350px;
  min-height: 350px;
}
.header {
  margin: 0 10px;
}
.logo {
  background: url("../../assets/images/logo.png") no-repeat top center;
  background-size: contain;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}
.title {
  font-size: 14px;
  // color: #98c800;
}
.qr {
  width: 260px;
  margin: 5px auto 10px;
  padding: 10px;
  border: 1px solid #98c800;
  border-radius: 0.2rem;
}

.hint {
  font-size: 12px;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-radius: 0.2rem;
  background-color: #f0f0f0;
  margin: 8px;
  padding: 8px;
}
